body > footer {
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px 0;
    color: #989898;
    //border-top: 1px solid #ccc;

    @extend .container;
}

#content {
    @extend .container;
    
}

aside {
    &.sidebar {
       //@extend .row;
        @extend .col-md-3;
        // @media (min-width: $screen-sm-max) {
        //     padding-right: 50px;
        // }
        padding-top: 20px;      
    }
    
    &#sidebar1.sidebar {
        @extend .row;
         @media (min-width: $screen-sm-max) {
            padding-right: 50px;
        }
    }
    &#sidebar2.sidebar {
      @extend .row;
         @media (min-width: $screen-sm-max) {
            margin-left:15px;
        }
    }
    
    &#sidebar1,
    &#sidebar2 {
        background: transparent;
        // a {
        //     color: #333333;
        //     &:hover {
        //         text-decoration: none;
        //         background: #f2f2f2;
        //     }
        // }
        
       // @extend .row;

       
        //@extend .row;
        
        .moduletable {
            //background: #F5F5F5;
            // padding: 10px;
            margin-bottom: 20px; 
            padding-bottom: 10px;
            border-bottom: 1px solid #C7C7C7;
            
            &:last-child {
                border-bottom: none;
            }
            
            h3 {
                margin-top: 0;
                font-size: $font-size-base + 1;
                text-transform: uppercase;
                font-weight: 700;
                padding-left: 9px;
            }
        }

        .nav > li > a {
            padding: 4px 9px 4px;
            color: #333333;
            &:hover,
            &:focus {
                background: #DADADA;
                text-decoration: none;  
            }
            
        }
    }
    @media (max-width: $screen-sm-max) {
       
        .moduletable {
            padding: 10px 0 0;
        }
               
         .moduletable > h3, .moduletable > .h3 {
                margin-left: -15px;
                margin-right: -15px;
                margin-top: 20px;
                padding-left:15px;
        }       
        
   
    }
    
}
main {
    @extend .row;
    margin-bottom:20px;
    
    
    
    &.no-sidebars {
        //@extend .row;
        @extend .col-md-12;
    }
    
    &.both-sidebars {
        //@extend .row;
        @extend .col-md-6;
        //width:53%;
         @media (min-width: $screen-sm-max) {
             width:53%;
            // width: 100%;
            // margin-left:0;
            // margin-right:0;
        }
    }
    
    &.left-sidebar {
       // @extend .row;
       
       @extend .col-md-9;
       
       @media (min-width: $screen-sm-max) {
            width:80%;
       }
    }
    
    article {
         a {
                color: #333333;
                &:hover {
                    color: #545454;
                }
            }
        
       // @extend .row;
        @extend .col-md-12;
        margin-bottom: 20px;
        
        > header {
            > h2 {
                font-size: $font-size-base;
               // text-transform: uppercase;
                font-weight: 700;
            }
            
           
        }
    }
    
    @media (max-width: $screen-sm-max) {  
        .breadcrumb {
            margin-left: -15px;
            margin-right: -15px;
            margin-top: 20px;
        }
       
   
    }
    
}
