@mixin fontFamily ($family: "Open Sans" + "," + Arial + "," + sans-serif) {
	font-family: $family;
}



@mixin setLogo($logo: null) {
	@if ($logo == null) {
		background: none;
	} @else {
		background: image-url($logo);
		display: inline-block;
		// width: image-width($logo);
		// height: image-height($logo);

		 text-indent: 100%;
		 width: 260px;
         height: 64px;
		 @media (max-width: $screen-xs-max) {
			 width: 200px;
		 }
    // white-space: nowrap;
    // overflow: hidden;
    // background-size: contain;
    background-repeat: no-repeat;
    // margin-top:10px;
    //margin-bottom:10px;

	}

}
