@import 'modules';
.navbar {
    border-radius: 0;
    background: $navbar-bg;

    .nav > li > a {
        color: $navbar-link;
        &:hover, &:focus {
            color: $navbar-link-hover;
            background: transparent;
        }
        
        @media (max-width: $screen-sm-max) {
            padding-left: 25px;
        }
        
    }
    
    .nav > li.current.active > a {
        color: $navbar-link-hover;
        background: $navbar-active-link;
    }
}

.navbar-toggle {
    border-radius: 0;
    .icon-bar {
        border-radius: 0;
        background: $navbar-toggle-button;
    }
}

button {
    &.jcar-load-more {
        border-radius: 0;

        @extend .btn;
        @extend .btn-primary;
        display: inline-block;
        margin-bottom: 35px;
    }
}

#jsolrSearch, #jsolrSearchResults {
     form {

        fieldset.query {
            margin-bottom: 12px;
        }
    
    input#q {
        @media (min-width: $screen-sm-max) {
            width: 30%;
            padding-left: 2px;
            padding-right: 2px;
        }
    }

         button {
            &.button {
                @extend .btn;
                @extend .btn-sm;
                @extend .btn-primary;
                border-radius: 0;
                padding: 4px 10px;
                font-size: 11px;
                line-height: 1.2;
                //border-radius: 0;
                vertical-align: bottom;
                margin-top: 3px;
            }
        }
    }
}