.navbar {
    background: #364149;
    border-radius: 0;
    
    .nav > li > a {
    color: #8BA2B3;
    &:hover, &:focus {
        background: transparent;
        color: #D1E1EC;
    }
}
  .nav > li.current.active > a {
   color: #D1E1EC;
   background: #2A343C;
}   
}

.navbar-toggle {
    border-radius: 0;
     .icon-bar {
    border-radius: 0;
    background: #84929C;
}
}

button {
    &.jcar-load-more {
        @extend .btn;
        @extend .btn-default;
        border-radius:0;
    }
}
