.navbar {
    border-radius: 0;
    background: #364149;

    .nav > li > a {
        color: #8ba2b3;
        &:hover, &:focus {
            color: #d1e1ec;
            background: transparent;
        }
    }
    
    .nav > li.current.active > a {
        color: #d1e1ec;
        background: #2a343c;
    }
}

.navbar-toggle {
    border-radius: 0;
    .icon-bar {
        border-radius: 0;
        background: #84929c;
    }
}

button {
    &.jcar-load-more {
        border-radius: 0;

        @extend .btn;
        @extend .btn-default;
    }
}
