section {
    &#jcarItem {
        dl {
            padding: 10px;
            background: #e7e7f9;
            dd + dt {
                margin-top: 20px;
            }
        } 
    }
    
    &#jcarCategory {
        margin-bottom: 20px;
        
    }   
}

.loader-gif{
	display: inline-block;
    background: url('../images/ajax-loader.gif') no-repeat;
    width: 16px;
    height: 16px;
    padding-right: 5px;   
}

#content {
    @extend .container;
}
