section {
    &#jcarItem {
        dl {
            padding: 10px;
            background: #e7e7f9;
            dd + dt {
                margin-top: 20px;
            }
        } 
    }
    
    &#jcarCategory {
        margin-bottom: 20px;
        
    }   
}

.loader-gif{
	display: inline-block;
    background: url('../images/ajax-loader.gif') no-repeat;
    width: 16px;
    height: 16px;
    padding-right: 5px;   
}



dl {
    &.article-info {
        // background: #f5f5f5;
        // border-bottom:1px solid #C7C7C7;
        // dt {
        //     font-size: 18px;
        // }
        dd {
            font-style: italic;
        }
    }
}