section#jcarItem {
        dl {
             background: #E7E7F9;
             padding: 10px;
             
            dd + dt {
    margin-top: 20px;
}
        }
    }

#content {
    @extend .container;
}