body > footer {
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    color: #989898;
    border-top: 1px solid #ccc;

    @extend .container;
}

aside {
    &#sidebar1,
    &#sidebar2 {
        background: transparent;
        

        @extend .col-md-3;
        @extend row;
        
        &>ul {
            background: #F5F5F5;
            padding: 0 10px;
            margin-bottom: 20px; 
        }

        .nav > li > a {
            padding: 10px 0;
            &:hover,
            &:focus {
                background: transparent;
                text-decoration: underline;  
            }
            
        }
    }
    @media (max-width: $screen-sm-max) {
        .moduletable {
            padding: 10px 0 0;
        }
               
         .moduletable > h3, .moduletable > .h3 {
                margin-left: -15px;
                margin-right: -15px;
                margin-top: 20px;
        }       
        
   
    }
    
}
main {
    &.no-sidebars {
        @extend .col-md-12;
    }
    
    &.both-sidebars {
        @extend .col-md-6;
    }
    
    &.left-sidebar {
        @extend .col-md-9;
    }
    
    @media (max-width: $screen-sm-max) {  
        .breadcrumb {
            margin-left: -15px;
            margin-right: -15px;
            margin-top: 20px;
        }
   
    }
    
}
