#header-modules {
    background:red;
}
#hero-modules {
    background: yellow;
}
#above-content-modules {
    background: green;    
}
#top {
    background: lightblue;
}
#bottom {
    background: orange;
}
#below-content-modules {
    background: aqua;
}

article {
    background: yellow;
}
main {
    background: purple;
}
#sidebar1.sidebar, #sidebar2.sidebar  {
    background:burlywood;
}
#footer-modules {
        background: greenyellow;
}
body > footer {
    background: darkred;
   
}
